:root {
    --color-primary: #7bae37;
    --color-primary-light: hsl(86, 76%, 15%);
    --color-gray: #f2f1f1e7;
    --color-white: #fdfdfd;
    --color-dark-green: #182c25;
    --color-dark-gray: #DCDCDC;
    --color-gray-green: #5E716A;
    --color-red: #e31b17;
    --color-light-red: #FFD6D0;
    --color-green: #00c476;
    --color-green-light: #ddffdd;
    
    --transition: all 300ms ease;

    --container-width-lg: 74%;
    --container-width-md: 88%;
    --form-width: 40%;

    --card-border-radius-1: 0.3rem;
    --card-border-radius-2: 0.5rem;
    --card-border-radius-3: 0.8rem;
    --card-border-radius-4: 2rem;
    --card-border-radius-5: 5rem;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: var(--color-dark-green);
    overflow-x: hidden;
    background-color: var(--color-gray);
    font-size: 0.9rem;
}

.container {
    width: var(--container-width-lg);
    max-width: 1800px;
    margin: 0 auto;
}

section {
    width: 100vw;
}

h1, h2, h3, h4, h5 {
    color: var(--color-dark-green);
    line-height: 1.3;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.7rem;
    margin: 1rem 0;
}

h3 {
    font-size: 1.1rem;
    margin: 0.8rem 0;
}

h4 {
    font-size: 1rem;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/*======================NAV=========================*/
nav {
    background: var(--color-primary);
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    /* box-shadow: 0 1rem 1rem rgba(0,0,0,0.2); */
}

nav button {
    display: none;
}

.nav__container {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 25px;
}

.nav__link {
    font-weight: 600;
    color: var(--color-dark-green);
    transform: var(--transition);
}

.nav__link:hover {
    color: var(--color-gray-green);
    transition: all 0.3s ease;
}

.nav__link2:hover {
    color: var(--color-gray-green);
    transition: all 0.3s ease;
}

.avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
}

.nav__logo {
    font-weight: 600;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--color-dark-green);
}

.nav__items {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav__profile {
    position: relative;
    cursor: pointer;
}

.nav__profile ul {
    position: absolute;
    top: 150%;
    right: 0;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    box-shadow: 0 3rem 3rem rgba(0,0,0,0.1);
    background: var(--color-white);
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
}

/* show nav ul when nav profile is hovered */
.nav__profile:hover > ul {
    visibility: visible;
    opacity: 1;
}

.nav__link2 {
    color: var(--color-gray-green);
    transform: var(--transition);
}

.nav__profile ul li a {
    padding: 1rem;
    display: block;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    nav .nav__button {
        display: inline-block;
        font-size: 1.5rem;
        background: transparent;
        color: var(--color-dark-green);
        cursor: pointer;
    }

    nav button#close__nav-btn {
        display: none;
    }

    .nav__container {
        position: relative;
    }

    .nav__items {
        position: absolute;
        flex-direction: column;
        top: -1000px;
        right: 0;
        width: 100%;
        align-items: flex-start;
        justify-content: center;
        gap: 0;
        box-shadow: -2rem 3rem 7rem rgba(0,0,0,0.5);
        opacity: 0;
        z-index: -1;
        transition: all 0.5s ease;
    }

    .nav__items.active {
        top: 100%;
        opacity: 1;
        transition: all 0.5 ease;
        z-index: 99;
    }

    .nav__items li {
        width: 100%;
        height: 3.75rem;
        display: flex;
        align-items: center;
    }

    .nav__items li a {
        border-radius: 0;
        width: 100%;
        height: 100%;
        background: var(--color-white);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
    }

    .nav__profile {
        border-radius: 0;
        top: 100%;
        width: 100%;
        height: 100%;
        background: var(--color-white);
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 5px solid #D3D3D3;
    }

    .nav__profile .avatar {
        border: 0;
    }

    .nav__profile ul {
        width: 100%;
        top: 101%;
        visibility: visible;
        opacity: 1;
    }

    .nav__profile ul li a {
        color: var(--color-dark-green);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav button#open__nav-btn.is-active {
        display: none;
    }

    nav button#close__nav-btn.is-active {
        display: inline-block;
    }
}

/*=============================Homepage============================*/
.homepage {
    position: relative;
    min-height: 600px;
    background-image:url('../images/homepagepic3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}

.homepage__container {
    position: absolute;
    top: 25%;
    left: 15%;
    width: 30rem;
}

.homepage__container h4 {
    margin: 20px auto;
}

#homepage-signup-btn {
    margin: 75px auto;
    padding: 15px 25px;
    background: var(--color-primary);
    color: var(--color-white);
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .homepage__container {
        left: 8%;
        width: 25rem;
    }

    @media screen and (max-width: 620px) {
        .homepage__container {
            width: 20rem;
        }

        .homepage__container h1 {
            font-size: 2.2rem;
        }
        
        .homepage__container h4 {
            font-size: 0.8rem;
        }

        #homepage-signup-btn {
            margin: 35px auto;
        }
    }
}



/*================================About==============================*/
.about-section {
    padding: 100px auto;
}

.about-section__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 200px;
    max-width: 85%;
    width: 950px;
}

.about__description p {
    font-size: 1.1rem;
}

.about__image {
    height: auto;
    width: 1500px;
    margin-top: 75px;
    padding-left: 100px;
}

@media screen and (max-width: 800px) {
    .about-section__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about__image {
        height: auto;
        width: 100%;
        margin-top: 25px;
        padding: 0;
    }
}

/*================================Search============================*/

.search__bar {
    margin-top: 3rem;
}

.search__bar-container {
    position: relative;
    width: 50%;
    background: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 0.6rem 1rem;
    border-radius: 20px;
    color: var(--color-dark-green);
}

.search__bar-container > div {
    width: 100%;
    display: flex;
    align-items: center;
}

.search__bar input {
    background: transparent;
    margin-left: 0.8rem;
    padding: 0.5rem 0;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .search__bar-container {
        width: 80%;
    }
}

/*================================Button Styles==============================*/
.btn {
    display: inline-block;
    width: fit-content;
    padding: 0.6rem 1.2rem;
    background-color: var(--color-primary);
    border-radius: 10px;
    cursor: pointer;
    color: var(--color-white);
    transition: var(--transition);
}

/*================================Quiz Title==============================*/
.quizdetails {
    margin: 6rem 0 2rem;
}

.quizdetails__container {
    width: 50%;
    background: var(--color-white);
    border-radius: 10px;
    padding: 3rem 3rem 3rem;
}

.quiz__author {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;
}

.quiz__author-info {
    padding-left: 10px;
}

.quiz__author-avatar {
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 50%;
    overflow: hidden;
}

.quizdetails__container p {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    font-size: 1.1rem;
}

@media screen and (max-width: 1024px) {
    .quizdetails__container {
        width: 80%;
    }
    
}

@media screen and (max-width: 760px) {
    .quizdetails__container {
        width: 90%;
    }
    
    .quizdetails__container p {
        font-size: 0.8rem;
    }

    .quizdetails__container h1 {
        font-size: 2rem;
    }
}

/*================================Browse Quizzes==============================*/
.browsequizzes__container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 1rem;
    width: 50%;
}

.browsequiz__info h4{
    font-size: 0.9rem;
    color: var(--color-gray-green);
    margin-bottom: 2rem;
}

.browsequiz__author {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.browsequiz__author img {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    overflow: hidden;
}

.browsequiz__author h4 {
    padding-left: 10px;
}

.browsequiz__author h5 {
    padding-left: 7px;
}


.browsequiz__title h2 {
    font-size: 1.5rem;
}

.browsequiz__article {
    background: var(--color-white);
    border-radius: 6px;
    padding: 1rem 2rem 2rem;
    cursor: pointer;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.browsequiz__article:hover {
    border-bottom: 5px solid var(--color-primary);
}

@media screen and (max-width: 800px) {
    .browsequizzes__container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
    }

    @media screen and (max-width: 540px) {
        .browsequizzes__container{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            width: 90%;
        }
    }
}

/*================================General Form==============================*/
.form__section {
    display: grid;
    place-items: center;
    height: 100vh;
}

.form__section-container {
    width: 40%;
}

.alert__message {
    padding: 0.8rem 1.4rem;
    margin-bottom: 1rem;
    border-radius: 8px;
}

.alert__message.error {
    background: var(--color-light-red);
    color: var(--color-red);
}

.alert__message.error {
    background: var(--color-light-red);
    color: var(--color-red);
}

.alert__message.success {
    background: var(--color-green-light);
    color: var(--color-green);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form__control {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

input[type="password"], input[type="text"], input[type="email"], textarea, select {
    padding: 0.8rem 1.4rem;
    background-color: var(--color-white);
    border-radius: 8px;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0,0,0,0.1);
    resize: none;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-dark-green)
}

textarea::placeholder, input::placeholder {
    font-family: 'Montserrat', sans-serif;
}

.form__section small {
     margin-top: 1rem;
     display: block;
}

.form__section small a {
    color: var(--color-primary);
}

@media screen and (max-width:1024px) {
    .form__section-container {
        width: 60%;
    }

    @media screen and (max-width: 540px) {
        .form__section-container {
            width: 80%;
        }
    }
}

/*================================Create Quiz==============================*/
.createquiz__nav{
    position: static;
}

.createquiz__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

#createquiz__secondnav {
    position: sticky;
    top: 0;
    left: 0;
    display: none;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: rgba(242, 241, 241, 1);
    opacity: 1;
    z-index: 999;
    box-shadow: 0rem 1rem 1rem rgba(0,0,0,0.1);
}

.createquiz__title2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32rem;
    position: relative;
    left: 0.5%;
}


.createquiz-container {
    margin-top: 1rem;
    width: 47rem;
}

#multiplechoice__inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.add__question-btn {
    width: 100%;
    border-radius: 8px;
    height: 8vh;
    font-size: 1.2rem;
    background: var(--color-white);
    color: var(--color-gray-green);
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0,0,0,0.1);
    margin-bottom: 100px;
}

.add__question-btn:hover {
    background: var(--color-primary);
    color: var(--color-white);
}

.input__dividers{
    margin-bottom: 1.5rem;
}

.input__dividers input {
    width: 100%;
}

.createquiz__section {
    background: var(--color-dark-gray);
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.answer__field {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.answer__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 95%;
}

.delete__answer-btn {
    font-size: 1.2rem;
    background: transparent;
    color: var(--color-dark-green);
    cursor: pointer;
}

.delete__answer-btn:hover {
    color: var(--color-red);
    transition: all 200ms ease;
}

.delete__question-btn {
    font-size: 1.2rem;
    background: transparent;
    cursor: pointer;
}

/* .delete__question-btn:hover {
    color: var(--color-red);
} */

.createquiz__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Navbar is very hardcoded, need to fix later*/
@media screen and (max-width: 1024px) {
    .createquiz__title2 {
        left: 1%;
    }

    @media screen and (max-width: 780px) {
        .createquiz-container {
            width: 33rem;
        }
    
        .createquiz__title2 {
            gap: 18rem;
        }
    }
    
    @media screen and (max-width: 550px) {
        .createquiz-container {
            width: 28rem;
        }
    
        .createquiz__title2 {
            gap: 13rem;
            left: 1.5%;
        }
    }
    
}

/*========================================Dashboard==================================*/
.dashboard {
    margin-top: 3rem;
}

.dashboard__container {
    display: grid;
    grid-template-columns: 14rem auto;
    gap: 2.5rem;
    background: transparent;
    width: 60rem;
}

.dashboard aside a {
    background-color: var(--color-white);
    color: var(--color-dark-green);
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1.3rem;
}

.dashboard aside ul li:not(:last-child) a {
    border-bottom: 1px solid var(--color-gray);
}

.dashboard aside a:hover h5, .dashboard aside a:hover i{
    color: #a1e648;
}

.dashboard aside a.active h5, .dashboard aside a.active i{
    color: var(--color-primary);
}

.dashboard main {
    margin-left: 1.5rem;
}

.dashboard main h2 {
    margin: 0 0 2rem 0;
}

.sidebar__toggle {
    display: none;
}

.view__quizzes-container .browsequiz__article {
    padding: 0.25rem 1rem 1rem 2rem;
    margin-top: 1rem;
}

.view__quizzes-container .browsequiz__title h2 {
    padding-top: 1rem;
}

.view__quizzes-container .browsequiz__author img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .dashboard__container {
        width: 48rem;
        gap: 1.5rem;
        grid-template-columns: 4.5rem auto;
        padding: 0;
    }

    .dashboard aside h5 {
        display: none;
    }

    @media screen and (max-width: 780px) {
        .dashboard {
            margin-top: 1rem;
        }

        .dashboard__container {
            width: 90%;
            grid-template-columns: 1fr;
            gap: 0;
        }

        .dashboard main {
            margin: 0;
        }

        .dashboard main h2 {
            margin-top: 1rem;
        }

        #dashboard__view__title {
            display: flex;
            justify-content: center;
        }

        .dashboard aside {
            position: fixed;
            box-shadow: 2rem 0 4rem rgba(0,0,0,0.4);
            left: -100%;
            height: 100vh;
            transition: var(--transition);
            background: var(--color-white);
        }

        .dashboard aside.active {
            left: 0;
        }

        .dashboard .sidebar__toggle {
            display: inline-block;
            background: var(--color-white);
            color: var(--color-dark-green);
            position: fixed;
            right: 0;
            bottom: 4rem;
            z-index: 1;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50% 0 0 50%;
            box-shadow: -1rem 0 2rem rgba(0,0,0,0.2);
            font-size: 1.2rem;
            cursor: pointer;
        }

        .dashboard aside a h5 {
            display: inline-block;
        }

        #hide__sidebar-btn {
            display: none;
        }

        #show__sidebar-btn {
            display: inline-block;
        }

        #hide__sidebar-btn.is-active{
            display: inline-block;
        }

        #show__sidebar-btn.is-active{
            display: none;
        }
    }
    
}

/*==========================================My Quizzes Dashboard=================================*/

.dashboard__article {
    background: var(--color-white);
    border-radius: 6px;
    padding: 1rem 2rem 2rem;
    cursor: pointer;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
}

.dashboard__article:hover {
    border-bottom: 5px solid var(--color-primary);
}

.dashboard__article-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dashboard__article-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 1.5rem;
    padding-right: 1rem;
}

.dashboard__article-btn a {
    position: relative;
}

.dashboard__article-btn a i {
    color: var(--color-dark-green);
}

.dashboard__article-btn a i:hover {
    color: var(--color-primary);
}

#tooltip {
    position: absolute;
    left: 50%;
    top: 0;
    font-size: 0.5rem;
    transform: translateX(-50%);
    background-color: #000;
    color: var(--color-white);
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#tooltip::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: 5px solid;
    border-color: #000 #0000 #0000 #0000;
}

.dashboard__article-btn a:hover #tooltip{
    top: -75%;
    visibility: visible;
    opacity: 1;
}


